.about {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* padding-top: 10rem; */
  padding-bottom: 10rem;
  background-color: #121212;
}

.about__card {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 675px;
  overflow: hidden;
  /* background-color: #2f2f2f; */
  border-radius: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  border: 1px solid rgb(100, 100, 100);
  --angle: 45deg;
  background: linear-gradient(var(--angle), rgb(35, 35, 35), rgb(60, 60, 60));

  /* background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, #177152 98.8%); */
}

/* .about__card.one {
  background: linear-gradient(rgb(35, 35, 35) 50%, #e79c02 110%);
}
.about__card.two {
  background: linear-gradient(rgb(35, 35, 35) 50%, #177152 110%);
}
.about__card.three {
  background: linear-gradient(rgb(35, 35, 35) 50%, #177152 110%);
}
.about__card.two {
  background: linear-gradient(rgb(35, 35, 35) 50%, #ff3a1e 110%);
} */

.about__img {
  height: 45%;
}

.about__img img {
  border-radius: 0 0 0 5rem;
  object-fit: cover;
  height: 100%;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.about__info {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.about__text1 {
  font-family: "Orbitron", sans-serif;
  padding-top: 1.5rem;
  font-size: var(--size-2xl);
  color: var(--clr-red-light);
  font-weight: 800;
  /* font-style: italic; */
  text-transform: uppercase;
}

.about__text2 {
  padding-top: 1.5rem;
  font-size: var(--size-xl);
  color: #f6f6db;
  font-weight: 400;
  letter-spacing: 1px;
}

.section__title {
  width: 100%;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  color: var(--clr-stone400);
  font-size: var(--size-5xl);
  font-weight: 1000;
  text-align: center;
  margin: 0;
}

/* .icon.about__i1 {
  color: #ffa51e;
}

.icon.about__i2 {
  color: #ff3a1e;
}

.icon.about__i3 {
  color: #1eff62;
}

.icon.about__i4 {
  color: #1e92ff;
} */

.icon.about__i1,
.icon.about__i2,
.icon.about__i3,
.icon.about__i4 {
  color: #ffa51e;
}
