.about__container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color: #463f3e;
  /* background-color: #121212; */
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about__card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 625px;
  overflow: hidden;
  background-color: #2f2f2f;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 1px solid rgb(80, 80, 80);
  --angle: 45deg;
  /* background: linear-gradient(var(--angle), rgb(35, 35, 35), rgb(60, 60, 60)); */
  /* background: linear-gradient(109.6deg, rgb(30, 30, 30) 12.4%, #494949 98.8%); */
}

.about__img {
  height: 44%;
}

.about__img img {
  border-radius: 0 0 0 5rem;
  object-fit: cover;
  height: 100%;
  /* border-bottom: 1px solid rgb(100, 100, 100); */
}

.about__info {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.about__text1 {
  /* font-family: "Orbitron", sans-serif; */
  padding-top: 1.5rem;
  font-size: var(--size-2xl);
  color: var(--clr-red-light);
  font-weight: 800;
  /* font-style: italic; */
  /* text-transform: uppercase; */
}

.about__text2 {
  padding-top: 1.5rem;
  font-size: var(--size-xl);
  color: #f6f6db;
  font-weight: 400;
  /* letter-spacing: 1px; */
}

/* .icon.about__i1 {
  color: #ffcb1e;
  color: #ff3a1e;
}

.icon.about__i2 {
  color: #ff3a1e;
  color: #ffcb1e;
}

.icon.about__i3 {
  color: #1eff65;
  color: #1e92ff;
}

.icon.about__i4 {
  color: #1e92ff;
  color: #1eff62;
} */

/* .icon.about__i1,
  .icon.about__i2,
  .icon.about__i3,
  .icon.about__i4 {
    color: #ff3a1e;
  } */
