.about {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2rem;
}

.about__img {
  border-radius: 1rem;
  /* max-width: 400px; */
}

.about__card {
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--clr-stone-light);
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px; */
}

.card__text {
  max-width: 70%;
}

.card__text1 {
  font-size: var(--size-xl);
  color: var(--clr-stone700);
}

.card__text2 {
  padding-top: 0.5rem;
  font-size: var(--size-);
  color: var(--clr-stone600);
}

.about__logo {
  padding-bottom: 4rem;
}
