/* .footer {
  background: #090809;
}

#media,
#address,
#mail {
  text-align: center !important;
}

.footer .container {
  padding: 50px 0;
}

.footer li,
p,
h4 {
  font-size: 24px !important;
}

.footer h4 {
  font-weight: lighter;
  color: #fff;
}

.footer p {
  color: grey;
  font-weight: lighter;
}

.footer li {
  font-weight: lighter;
  color: #fff;
  padding-left: 20px;
  font-size: 48px !important;
}

.footer li a {
  color: grey;
}

.footer li a:hover {
  color: #fff;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 900px) {
  .footer .container {
    width: 92% !important;
  }
} */
