.footer {
  width: 100%;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .hero__logo {
  width: 75px;
}

.footer p {
  color: var(--clr-stone400);
  font-size: var(--size-sm);
  text-align: center;
  /* text-transform: uppercase; */
}

.footer__icon {
  width: var(--size-3xl);
  height: var(--size-3xl);
  color: var(--clr-stone400);
  transition: 0.3s;
}

.footer__icon:hover {
  color: var(--clr-peach);
}
