.gallery__text1 {
  color: var(--clr-stone400);
  font-size: var(--size-7xl);
  font-weight: 1000;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.custom-thumbnail {
  max-width: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.modal-body {
  padding: 0;
}

.img-fluid {
  border-radius: 1rem;
}
