.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.custom-thumbnail {
  max-width: 100px;
  object-fit: cover;
  border-radius: 1rem;
}

.modal-content {
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  border: none;
}

.modal-body {
  padding: 0;
}
