.gallery__text1 {
  padding-top: 10rem;
  font-family: "Orbitron", sans-serif;
  color: var(--clr-stone400);
  font-size: var(--size-7xl);
  font-weight: 1000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* padding: 1rem; */
}

.custom-thumbnail {
  max-width: 100px;
  object-fit: cover;
  border-radius: 1rem;
}

.modal-content {
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  border: none;
}

.modal-body {
  padding: 0;
}

.img-fluid {
  /* padding: 1rem; */
}
