.header {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 50px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-150%) translateX(-50%);
}

.header__menu {
  display: none;
  position: relative;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
}

.header__logo {
  width: 60px;
}

.header__text {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-left: 1px solid var(--clr-stone400);
  padding-left: 0.5em;
}

.header__text1 {
  color: var(--clr-stone-light);
  font-size: var(--size-2xl);
  line-height: 1;
}

.header__text2 {
  font-size: 0.69rem;
  line-height: 0.5;
  color: var(--clr-stone-light);
}

.header__toggle {
  color: var(--clr-stone-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

.header__toggle:hover {
  transform: translateX(0px);
  background: none;
}

/* xxs */
@media (min-width: 375px) {
  .header {
    min-width: 90%;
    max-width: 90%;
  }
}

/* xs */
/* @media (min-width: 475px) { } */

/* sm */
/* @media (min-width: 640px) { } */

/* md */
@media (min-width: 768px) {
  .header {
    min-width: 738px;
    max-width: 738px;
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-s);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-stone-light);
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
  }

  .header__link:hover {
    color: var(--clr-peach);
  }

  .header__toggle {
    display: none;
  }
}
