.hero {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.hero__container {
  background-color: #e1e0dd;
  /* background-color: #1e202b; */
  /* background-color: #121212; */
  /* background-color: #121212; */
}

.hero__container::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.15) 1px,
        transparent 1px 45px
      )
      50% 50% / 45px 45px,
    linear-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px 45px) 50% 50% /
      45px 45px;
  mask: linear-gradient(-25deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

.hero__text {
  /* width: 100%; */
  text-align: center;
}

.hero__text1 {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: var(--size-7xl);
  color: var(--clr-peach);
  font-weight: 1000;
  line-height: 1;
}

.hero__text2 {
  display: block;
  font-size: 2.07rem;
}

.hero__text3 {
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  font-size: var(--size-base);
  color: var(--clr-stone600);
  font-weight: 400;
  letter-spacing: 0.75px;
}

.hero__btns {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero__btn1,
.hero__btn2 {
  /* align-self: center; */
  /* margin-top: 2rem; */
  display: flex;

  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.hero__btn1 p,
.hero__btn2 p {
  width: fit-content;
  font-weight: 400;
}

.hero__logo {
  /* margin-top: 6rem; */
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  /* mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent); */
  background-color: var(--clr-stone-dark);
}

.hero__logo img {
  margin: 0 auto;
  width: 300px;
}

.hero__icon {
  width: var(--size-xl);
  height: var(--size-xl);
}

.hero__container-slider {
  /* background-color: var(--clr-stone-dark); */
  padding-top: 3rem;
}

/* xs */
@media (min-width: 400px) {
  .hero__btn1,
  .hero__btn2 {
    width: 100%;
  }
}
/* sm */
@media (min-width: 640px) {
  @media (min-width: 475px) {
    .hero__btn1,
    .hero__btn2 {
      width: 250px;
    }
  }
}

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  .hero__text1 {
    font-size: var(--size-8xl);

    line-height: 0.7;
  }

  .hero__text2 {
    font-size: 2.7rem;
  }

  .hero__text3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--size-xl);
    font-weight: 400;
    letter-spacing: 0.75px;
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
  .hero__text1 {
    font-size: var(--size-9xl);

    line-height: 0.7;
  }

  .hero__text2 {
    font-size: 3.63rem;
  }

  .hero__text3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--size-2xl);
    font-weight: 400;
    letter-spacing: 0.75px;
  }
}
