.hero {
  /* padding-top: 5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding-bottom: 15rem;
}

.hero__text {
  /* width: 100%; */
  text-align: center;
}

.hero__text1 {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: var(--size-7xl);
  color: var(--clr-peach);
  font-weight: 1000;
  line-height: 1;
}

.hero__text2 {
  display: block;
  font-size: 2.07rem;
}

.hero__text3 {
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  font-size: var(--size-base);
  color: var(--clr-stone600);
  font-weight: 400;
  letter-spacing: 0.75px;
}

.hero__btns {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.hero__btn1,
.hero__btn2 {
  /* align-self: center; */
  /* margin-top: 2rem; */
  /* width: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.hero__btn1 p,
.hero__btn2 p {
  width: fit-content;
  font-weight: 400;
}

.hero__logo {
  /* margin-top: 6rem; */
  /* padding-top: 5rem; */

  /* mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent); */
  /* background-color: var(--clr-stone-dark); */
}

.hero__logo img {
  margin: 0 auto;
  width: 350px;
}

.hero__icon {
  width: var(--size-xl);
  height: var(--size-xl);
}

.hero__container-slider {
  /* background-color: var(--clr-stone-dark); */
  padding-top: 3rem;
}
