.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Высота на весь экран */
  width: 100vw; /* Ширина на весь экран */
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none; /* Нет взаимодействия, когда скрыто */
  transition: opacity 0.3s ease-in-out;
}

.mobile-nav.open {
  opacity: 1;
  pointer-events: auto; /* Разрешить взаимодействие, когда видно */
}

.mobile-nav__menu {
  list-style: none; /* Удаляем маркеры списка */
  padding: 0; /* Удаляем внутренние отступы */
  margin: 0; /* Удаляем внешние отступы */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.mobile-nav__link {
  font-size: var(--size-lg);
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  color: var(--clr-stone-light);
}

.mobile-nav__link:hover {
  color: var(--clr-peach);
}
