#gallery img {
  height: 100%;
  /* width: 100%; */
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 576px) {
  #gallery img {
    height: 35vw;
  }
}
@media (min-width: 992px) {
  #gallery img {
    height: 18vw;
  }
}

.carousel-item img {
  /* height: 70vw; */
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 576px) {
  .carousel-item img {
    height: 350px;
  }
}

#gallery.custom {
  padding: 15px;
}
#gallery.custom img {
  display: block;
  margin: 15px 0;
  border-radius: 300px 30px 300px 300px;
}
#gallery.custom img:hover {
  border-radius: 30px 90px 30px 30px;
}

#exampleModal.custom .modal-content {
  background: none;
  border: none;
}
#exampleModal.custom .modal-header {
  border: none;
}
#exampleModal.custom .modal-header button {
  background: none;
  border-radius: 100px 100px 0 0;
  padding: 5px 10px;
  opacity: 1;
  position: relative;
  top: 3px;
  border: solid 2px white;
}
@media (min-width: 992px) {
  #exampleModal.custom .modal-header button {
    top: 15px;
  }
}
#exampleModal.custom .modal-header button:hover {
  top: 3px;
}
#exampleModal.custom .modal-header span {
  color: white;
}
#exampleModal.custom .modal-body {
  padding: 0;
  border: none;
  position: relative;
}
#exampleModal.custom .modal-body::before,
#exampleModal.custom .modal-body::after {
  content: "";
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  background: white;
  border-radius: 3px 10px;
}
@media (min-width: 768px) {
  #exampleModal.custom .modal-body::before,
  #exampleModal.custom .modal-body::after {
    border-radius: 3px 30px;
    height: 100px;
    width: 100px;
  }
}
#exampleModal.custom .modal-body::before {
  top: -5px;
  left: -5px;
}
@media (min-width: 768px) {
  #exampleModal.custom .modal-body::before {
    top: -15px;
    left: -15px;
  }
}
#exampleModal.custom .modal-body::after {
  bottom: -5px;
  right: -5px;
  z-index: -1;
}
@media (min-width: 768px) {
  #exampleModal.custom .modal-body::after {
    bottom: -15px;
    right: -15px;
  }
}
#exampleModal.custom .modal-footer {
  border: none;
  margin-top: 60px;
}
@media (min-width: 992px) {
  #exampleModal.custom .modal-footer {
    margin-top: 40px;
  }
}
#exampleModal.custom .modal-footer .btn {
  margin: auto;
  border: solid 2px white;
  background: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 0.2em 0.7em;
}
#exampleModal.custom .modal-footer .btn:hover {
  background: white;
  color: black;
}
#exampleModal.custom .carousel-control-prev,
#exampleModal.custom .carousel-control-next {
  font-size: 2em;
  top: auto;
  opacity: 1;
  bottom: -52px;
}
@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-prev,
  #exampleModal.custom .carousel-control-next {
    top: 0;
    opacity: 0.5;
    bottom: 0;
  }
}
#exampleModal.custom .carousel-control-next-icon,
#exampleModal.custom .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}
@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-prev {
    left: -90px;
  }
}
@media (min-width: 768px) {
  #exampleModal.custom .carousel-control-next {
    right: -90px;
  }
}
#exampleModal.custom .carousel-indicators {
  bottom: -60px;
}
@media (min-width: 992px) {
  #exampleModal.custom .carousel-indicators {
    bottom: -30px;
  }
}
#exampleModal.custom .carousel-indicators li {
  height: 30px;
  border-radius: 100px;
  background: none;
  border: solid 2px white;
}
@media (min-width: 992px) {
  #exampleModal.custom .carousel-indicators li {
    height: 10px;
  }
}
#exampleModal.custom .carousel-indicators li:hover {
  background: white;
}
#exampleModal.custom .carousel-indicators li.active {
  background: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
@media (min-width: 576px) {
  .switch {
    margin: 0;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--clr-stone-light);
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
}

.w-100 {
  width: 500px;
  border-radius: 0.5rem;
}

.gallery__text1 {
  color: var(--clr-stone400);
  font-size: var(--size-7xl);
  font-weight: 1000;
}

.modal-content {
  width: 100%;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-stone-light);
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-body {
  padding: 0;
}

.modal-backdrop.show {
  opacity: 0.85;
}

.modal-dialog {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
  pointer-events: none;
  justify-content: center;
  align-content: center;
}
