/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

.btn {
  display: inline-block;
  background-color: var(--clr-red600);
  text-decoration: none;
  letter-spacing: 0.05em;
  color: var(--clr-red-light);
  text-align: center;
  padding: 0.9em 2em;
  border-radius: 5rem;
  transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px -30px 60px -12px inset;
}

.container {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section {
  margin-top: 5rem;
}

span {
  color: var(--clr-red600);
  font-weight: 600;
}

/* xxs */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
